<form (ngSubmit)="onSubmit(questionsForm.value)" #questionsForm="ngForm">

  <div class="row">
    <div class="col-md-6">

      <label>Question Description</label>
      <div>
        <textarea class="form-control" [(ngModel)]="newField.description" id="description" name="description" rows="5" cols="70"></textarea>
      </div>
      <div>
        <label>Question Type</label>
      <select  class="list form-control" id="questionType" [(ngModel)]="newField.questionType" name="questionType" (change)="onSelect($event.target.value)">
        <option value="0" [selected]>Select Question Type ---</option>
        <option *ngFor="let field of service.formFieldsList" [value]="field.formFieldId">
          {{field.name}}
        </option>
      </select>
      </div>
      <br>
      <div>
        <div style="float: right;" *ngIf="!this.isOneOptionAdded && this.formFieldId == 1">
          <button type="submit" class="btn btn-primary" (click)="onSubmit(fieldArray);" >Save</button>
       </div>
      </div>
      <br>
    </div>
    <div  *ngIf="this.formFieldId > 1" class="col-md-6" >
      <label>Add Question Options</label>
      <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Option Text</th>
                <th>Correct Answer</th>
                <!-- <th>Name</th>
                <th>Price</th> -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let field of fieldArray; let i = index">
                <td>
                  {{field.optionText}}
                    <!-- <input [(ngModel)]="field.optionText" class="form-control" type="text" name="{{field.optionText}}" /> -->
                </td>
                <td>
                  <span *ngIf="field.IsCorrect">
                    Yes
                  </span>
                  <span *ngIf="!field.IsCorrect">
                    No
                  </span>
                    <!-- <input [(ngModel)]="field.optionText" class="form-control" type="text" name="{{field.optionText}}" /> -->
                </td>
                <td>
                    <i class="fa fa-trash fa-1x text-danger" (click)="deleteFieldValue(i)"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" id="optionText" type="text" [(ngModel)]="newField.optionText" name="optionText" />
                </td>

                <td>
                  <input type="checkbox" id="IsCorrect" name="IsCorrect" [(ngModel)]="newField.IsCorrect" />
                </td>
                <td>
                    <i class="fa fa-plus fa-1x text-success" (click)="addFieldValue()"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <div style="float: right;" *ngIf="this.isOneOptionAdded && this.formFieldId != 1">
      <button type="submit" class="btn btn-primary" (click)="onSubmit(fieldArray);" >Save</button>
   </div>
    </div>

    <!-- <div class="col-md-6">
      <h2>Movies</h2>
      <div
      cdkDropList
      #moviesList="cdkDropList"
      [cdkDropListData]="MoviesList"
      [cdkDropListConnectedTo]="[doneMovieList]"
      class="movie-list"
      (cdkDropListDropped)="onDrop($event)">
      <div class="movie-block" *ngFor="let moviesList of MoviesList" cdkDrag>{{moviesList}}</div>
    </div>
    </div>

    <div class="col-md-6">
      <h2>Movies Watched</h2>
      <div
      cdkDropList
      #doneMovieList="cdkDropList"
      [cdkDropListData]="MoviesWatched"
      [cdkDropListConnectedTo]="[moviesList]"
      class="movie-list"
      (cdkDropListDropped)="onDrop($event)">
      <div class="movie-block" *ngFor="let moviesWatched of MoviesWatched" cdkDrag>{{moviesWatched}}</div>
    </div>
    </div> -->
  </div>
  <br>
  <table class="table table-striped table-bordered">
 <tr>
   <th>Questions</th>
   <th>Answers/Options</th>
   <th>Actions</th>
 </tr>
<tr *ngFor="let question of this.service.questionsList; let i=index;">
  <td>{{question.description}}</td>
  <td >
    <div  *ngIf="question.formFieldId == 1">
      <div>
        <textarea class="form-control" placeholder="{{question.description}}" [(ngModel)]="newField.questionAns" id="questionAns" name="questionAns" rows="5" cols="70"></textarea>
      </div>
    </div>
    <div  *ngIf="question.formFieldId == 2">
      <div>
        <select  class="list form-control" id="questionType1"  name="questionType1" >
          <option value="0" selected>Select Answer ---</option>
          <option *ngFor="let option of question.option" [value]="option.optionId">
            {{option.optionText}}
          </option>
        </select>
      </div>
    </div>

    <div  class="row" *ngIf="question.formFieldId == 3">
      <div *ngFor="let option of question.option; let c=index;"  >
        <input type="checkbox"  style="margin-left: 40px;"  value="{{option.optionText}}" id="questionAnsChk" name="questionAnsChk"  />  &nbsp; {{option.optionText}} &nbsp;
      </div>
    </div>

    <div  class="row"  *ngIf="question.formFieldId == 4">
      <div *ngFor="let option of question.option; let r=index;">
        <input type="radio" style="margin-left: 40px;"   value="radioAns+{{i}}"  id="radioAns+{{i}}" name="radioAns+{{i}}"  />  &nbsp; {{option.optionText}} &nbsp;
      </div>
    </div>
  </td>
  <td>
      <button type="submit" class="btn btn-success"  >Save</button>

  </td>
</tr>

  </table>
</form>




<!-- <div class="row" *ngIf="this.formFieldId > 1">
  <div class="col-md-5">
    <input placeholder="Option Text" type="text" class="form-control" style="width: 480px;" />
  </div>
  <div >
    <button style="margin-left: 40px;;" class="btn btn-success" type="button"><b>+</b></button>
  </div>
</div> -->



