<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header bg-white">
				<h4 class="card-title">Login with your account</h4>
			</div>
			<div class="card-block" style="width: 500px; margin-left: 10px;;">
        <form  novalidate  #f="ngForm" (ngSubmit)="login()"  autocomplete="off" >

          <div class="col-md-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" required [(ngModel)]="model.email" name="email" class="form-control" placeholder="Email" >
                <span *ngIf="!email.valid && email.touched" >
                  <span class="error-block" *ngIf="email.hasError('required')">
                  Email is Required.
                  </span>
                  <span class="error-block" *ngIf="email.hasError('email')">
                    A valid email is Required.
                  </span>
                </span>
            </div>
          </div>
          <div class="col-md-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" minlength="6" [(ngModel)]="model.password" required name="password" class="form-control" placeholder="Password">
            <span *ngIf="!password.valid && password.touched" class="error-block">
              <span class="error-block" *ngIf="password.errors['required']">
              Password is Required..
                </span>
                <!-- <span class="error-block" *ngIf="password.errors.minlength">
                  Password must be at least 6 characters long.
                    </span> -->
            </span>
          </div>
          </div>
				<div class="form-group"   style="float: right;">
						<button type="submit" class="btn btn-primary"  >Login</button>
					</div>
          <div class="form-group " >
            <br>
              <a routerLink="../registration-form" routerLinkActive="router-link-active" >Not have an account ?</a>
            </div>
				</form>
			</div>
		</div>
	</div>
