<app-upload [disabled]="showProgress" (uploadStatus)="uploadStatus($event)"></app-upload>
<h2>File List</h2>
<p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
<hr>
<div class="container">
    <table class="table table-hover table-bordered">
      <tr>
        <th>File</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let file of files">
        <td>
          {{file}}
        </td>
        <td>
          <app-download [disabled]="showProgress" [fileName]="file" (downloadStatus)="downloadStatus($event)"></app-download>
        </td>
      </tr>
    </table>
</div>
