 <form [formGroup]="form" autocomplete="off">
   <div class="col-md-12" style="padding-top: 100px;">
  <table class="table table-bordered table-hover" >
    <thead class="thead-light">
     <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Date Of Birth</th>
      <th>Actions</th>
     </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td><input type="hidden" class="display"></td>
            <td><input type="text" class="display" value="{{pd.fullname}}"></td>
            <td><input type="text" class="display" value="{{pd.email}}"></td>
            <td><input type="date" class="display" value="{{pd.dateOfBirth}}"></td>
      </tr> -->
      <tr *ngFor="let user of service.userRegistrationList">
        <!-- <b *ngIf="rowNumber > 0">{{rowNumber}}</b> -->
        <!-- <input type="hidden" formControlName="userId" class="form-control"  value="{{user.userId}}"/> -->
        <td>{{user.userId}}
        </td>
            <td > <span *ngIf="rowNumber != user.userId">{{user.fullname}}</span>
              <input type="text" formControlName="fullname" class="form-control" [hidden]="!editEnabled" *ngIf="rowNumber == user.userId" value="{{user.fullname}}"/>
            </td>
            <td> <span *ngIf="rowNumber != user.userId">{{user.email}}</span>
              <input type="text" formControlName="email" class="form-control" [hidden]="!editEnabled" *ngIf="rowNumber == user.userId" value="{{user.email}}"/>
            </td>
            <!-- <b>{{this.userId}}</b> -->
            <td> <span *ngIf="rowNumber != user.userId">{{user.dateOfBirth}}</span>
              <input type="date" formControlName="dateOfBirth" class="form-control" [hidden]="!editEnabled" *ngIf="rowNumber == user.userId"  value="{{this.service.convertStringToDate(user.dateOfBirth)}}"/>
            </td>

            <td>

              <a  routerLink="/dashboard" class="fas fa-pencil text-info" [hidden]="editEnabled" (click)="enableEditMode(user)" ></a>
              &nbsp;
              <a  routerLink="/dashboard"
              class="fas fa-save text-success" data-toggle="tooltip" tooltip="Tooltip on top" placement="top" data-placement="top" title="Save this record" (click)="onSubmit(form.value)" [hidden]="rowNumber != user.userId" >

            </a>
              <!-- {{form.value | json}} -->
              &nbsp;
              <a class="fas fa-trash text-danger" (click)="onDelete(user.userId)" ></a>
            </td>
      </tr>
    </tbody>
  </table>
</div>
</form>
