<body>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>

    <!-- <tx-document-editor
      width="1000px"
      height="500px"
      webSocketURL="wss://demos.textcontrol.com/ws/api/TXWebSocket?authToken=12388-22132-12133">
      </tx-document-editor> -->
    <!-- <app-registration-form></app-registration-form> -->

  </div>
</body>
